<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hot dogs here</title>
    <!-- Bootstrap -->
     <link href="{{ url_for('static', filename='styles/bootstrap-4.4.1.css') }}" rel="stylesheet" type="text/css">
     <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
     <link rel="stylesheet" href="https://use.typekit.net/gek1ahu.css">
     <script defer data-domain="hotdogshere.com" src="https://plausible.io/js/plausible.js"></script>
	
  </head>
  <body onload="bootRoutine()">
	  <div class="row top-row">
		<div class="col-md-3"><strong>$ <span id="console" class="console-typing"></span></strong></div>
		<div class="col-md-3"><div class="blink">home of 100% open-source dogs</div></div>
		<div class="col-md-6 top-right-small">
			<div class="row top-row-right mobile-hide"><p>/home/hot_dogs_index</p></div>
			<div class="row top-row-right">
					<img class="top-row-right" src="/static/img/hotdogshere-small.png">
			</div>
		</div>
	</div>
	  
	<div class="row top-title">
		<div class="col-md-3"></div>
		<div class="col-md-9 giant-hero"><h1 class="giant-hero">Hot Dogs Here</h1>
		</div>
	</div>
	<div class="row">
 		<div class="col-md-3"></div>
		<div class="col-md-3 top-col">
			<h4 class="side-header">signal proxy for iran:</h4>
			<p>Recently, the Iranian government has disabled/throttled internet connections for its citizens, including blocking private messaging app services like Signal.</p>
			<p>To help, anyone can set up their own proxy server for Signal, enabling people to connect back to the world outside of censorship  and communicate with text, images, videos, calls.</p>
			<p>The hot dogs here proxy was set up for the people of Iran, but can be used by anyone worldwide that has Signal and wants to use a private proxy server with a private IP address.</p>
			<p><strong>Server Address:</strong> signal.hotdogshere.com<br />
			<strong>Android Link:</strong> <a href="https://signal.tube/#signal.hotdogshere.com">Click here on Android to open the proxy.</a></p>
			<p>&nbsp;</p>
			<h4 class="side-header">more on setting up a signal proxy:</h4>
			<p>Signal makes it super easy to set up your own proxy if you have a server or vps, and a domain to point the proxy at. <a href="https://signal.org/blog/help-iran-reconnect/" target="_blank">You can check out the instructions here.</a>
			<p>&nbsp;</p>
		</div>
		<div class="col-md-6 top-col main-copy">
		<h2 class="main-header">hello there!</h2>
			
			<p>This site is a test bin. A cauldron. <em>The witches' brew!</em> It's a domain I'm using to test out coding projects. Most of it is in the background in a shell.</p>

			<p>&nbsp;</p>
			<h2 class="main-header">a privacy-focused search engine:</h2>
		    
			<p>If you click the following link, you'll be taken to the <em><a class="dogs" href="#" target="_blank">hot dogs here</a></em> search engine. It's an instance of SearXNG spun up on a Linode server.</p> 
			
			<p>There are no logs, no tracking, no monitoring.</p>
			
			<p><strong>The quick of it:</strong> SearXNG is an open-source search engine that aggregates results from Google, Bing, Duckduckgo, Qwant and more, and serves them up to you behind new 'profiles' for every search.</p>
			
			<p>This means Big Googs isn't mining your data for Don Draper every time you search for something.</p> 
			
			<p>With this instance being live on a cloud server, your IP address will also be hidden, and only the IP address of my server is given to the engines.</p>
			
			<p><a href="https://docs.searxng.org/" target="_blank">You can read more about searxng here.</a></p>
		    
			<p>If you want search privacy, you can make the hot dogs here instance of searxng your default search engine.</p>
		    
			<p>The instructions vary by browser, but just use 🌭 <a href="https://s.hotdogshere.com" source="_blank">hot dogs here</a> to search how to change your default search engine in the browser you choose to use. You should probably be using Firefox, Brave (or more likely <em>tor!</em>) if you want better privacy.</p>
		   
			<p>Everything else is snooping on you.</p>
		    
			<p>The search engine is not at hotdogshere.com, it's at s.hotdogshere.com, hosted on an entirely different server than the main domain, where the words that you're reading right now are hosted.</p>
		    
			<div id="rcorners1">
				<h3 class="main-header">Quick example for the Brave browser:</h3> 
				<p>Go to <em>settings -&gt; search engine -&gt; manage search engines</em></p> 
				<p>Then, add a new engine and put it in as this: <strong>https://s.hotdogshere.com/search?q=%s</strong></p>
			<p>After that, you can make it your default engine by clicking the '...' button on the right. </p>
		    
			<p><em>Voila!</em> no one is going to track you while searching for anything.</p>
		    
			<p><em>Buuuuuuuuuuuuut,</em> that's not a complete shield. Wherever you go from your hot doggin' search can still track you if you're not protecting yourself from trackers, cookies, ads, etc. </p>
    		
			<p>Check out <a href="https://privacyguides.org" target="_blank">Privacy Guides</a> for more info and recommendations.</p>
		    
		    	</div>
			<p><strong>P.S. </strong>This here hot dawg search isn't for looking up illegal shit. Don't do that please, because just don't.</p> 
		    
			<p>This is just for real human search, to be used by real people that just don't want to be followed around the internet by a pair of jeans they looked at once.</p>
		    
			<p><strong>P.P.S.</strong> You might still see ads on Instagram, FB, or wherever related to a link you followed from hot dogs here, but that's not the search engine. That's your device on the page you went to, your IP address when you went there, or even proximity IP to someone who did.</p>
		    
		    
			<p>&nbsp;</p>
			<h2 class="main-header">What's under the hood?</h2>
			
			<p>This site lives on a Linux machine <em>in the cloud 🌩</em></p>
			
			<p>Currently it's on Debian 10, everything coded via ssh with vim.</p>
			
			<p>Flask runs this place with Nginx.</p>

			<p><a href="https://plausible.io/" target="_blank">Plausible Analytics</a> is plugged in too, check it out if you run a site and want some analytics for your site that don't treat visitors like sales data targets.</p>
			
			<p>There are lots of fancier things to spin up a site, but it's nice brain push-ups to cli this shit.</p>
			<p>&nbsp;</p>
			<h2 class="main-header">hot dogs search</h2>
			
			<p>The <a href="https://s.hotdogshere.com" target="_blank">hot dogs here</a> search instance of searxng is running up on <a href="https://www.linode.com/" target="_blank">linode, running ubuntu lts 22.04</a></p>
			
			<div id="rcorners1">
				<h3 class="main-header">Privacy and security verification for s.hotdogshere.com:</h3>
			<p><a href="https://www.ssllabs.com/ssltest/analyze?d=s.hotdogshere.com" target="_blank">view the ssl labs report here</a>, and the <a href="https://cryptcheck.fr/https/s.hotdogshere.com" target="_blank">cryptcheck results here.</a>
			</div>
			
		</div>
    </div>
	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/popper.min.js"></script> 
	<script src="js/bootstrap-4.4.1.js"></script>
	<script src="/static/js/dogs-console.js"></script>
  </body>
</html>
